.lista-personajes-vermas {
  display: grid;
  grid-template: auto / 1fr;
  gap: 3rem;
  width: 82%;
  margin-left: 9%;
  margin-right: 9%;
}

@media screen and (min-width: 600px) {
  .lista-personajes-vermas {
    grid-template: auto / repeat(2, 1fr);
    
  }
}

@media screen and (min-width: 1000px) {
  .lista-personajes-vermas {
    grid-template: auto / repeat(4, 1fr);
    gap: 3em;
  }
}

@media screen and (max-width: 1750px) {
  .lista-personajes-vermas {
    gap: 0rem;
  }
}

@media screen and (max-width: 1550px) {
  .lista-personajes-vermas {
    grid-template: auto / repeat(3, 1fr);
    gap: 6rem;
  }
}

@media screen and (max-width: 1350px) {
  .lista-personajes-vermas {
    grid-template: auto / repeat(3, 1fr);
    gap: 0em;
  }
}

@media screen and (max-width: 1100px) {
  .lista-personajes-vermas {
    grid-template: auto / repeat(2, 1fr);
    gap: 11em;
  }
}

@media screen and (max-width: 980px) {
  .lista-personajes-vermas {
    grid-template: auto / repeat(2, 1fr);
    gap: 5em;
  }
}

@media screen and (max-width: 780px) {
  .lista-personajes-vermas {
    flex-direction: column;
    display: inline-flex;
    align-items: center !important;

  }
}